table.Main-Field {
    margin-left: auto;
    margin-right: auto;
    cursor: default;
}

body {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;    
    -ms-user-select: none;
    user-select: none;
}

.Main-Field td {
    text-align: center;
    width: 50px;
    height: 50px;   
}

td div {
    margin: 5px;
    padding: 5px;
    height: 40px;
    width: 40px;
}