table.Main-Field {
    margin-left: auto;
    margin-right: auto;
}

.Main-Field td {
    text-align: center;
    width: 50px;
    height: 50px;
}

.Main-Field td:hover {
    background-color: #ffe4b5;
}